@font-face {
  font-family: "Be Vietnam Pro";

  src: url("/public/fonts/Be_Vietnam_Pro/BeVietnamPro-Black.ttf")
    format("truetype");

  font-weight: 900;

  font-style: normal;
}

@font-face {
  font-family: "Be Vietnam Pro";

  src: url("/public/fonts/Be_Vietnam_Pro/BeVietnamPro-BlackItalic.ttf")
    format("truetype");

  font-weight: 900;

  font-style: italic;
}

@font-face {
  font-family: "Be Vietnam Pro";

  src: url("/public/fonts/Be_Vietnam_Pro/BeVietnamPro-Bold.ttf")
    format("truetype");

  font-weight: 700;

  font-style: normal;
}

@font-face {
  font-family: "Be Vietnam Pro";

  src: url("/public/fonts/Be_Vietnam_Pro/BeVietnamPro-BoldItalic.ttf")
    format("truetype");

  font-weight: 700;

  font-style: italic;
}

@font-face {
  font-family: "Be Vietnam Pro";

  src: url("/public/fonts/Be_Vietnam_Pro/BeVietnamPro-ExtraBold.ttf")
    format("truetype");

  font-weight: 800;

  font-style: normal;
}

@font-face {
  font-family: "Be Vietnam Pro";

  src: url("/public/fonts/Be_Vietnam_Pro/BeVietnamPro-ExtraBoldItalic.ttf")
    format("truetype");

  font-weight: 800;

  font-style: italic;
}

@font-face {
  font-family: "Be Vietnam Pro";

  src: url("/public/fonts/Be_Vietnam_Pro/BeVietnamPro-ExtraLight.ttf")
    format("truetype");

  font-weight: 200;

  font-style: normal;
}

@font-face {
  font-family: "Be Vietnam Pro";

  src: url("/public/fonts/Be_Vietnam_Pro/BeVietnamPro-ExtraLightItalic.ttf")
    format("truetype");

  font-weight: 200;

  font-style: italic;
}

@font-face {
  font-family: "Be Vietnam Pro";

  src: url("/public/fonts/Be_Vietnam_Pro/BeVietnamPro-Italic.ttf")
    format("truetype");

  font-weight: 400;

  font-style: italic;
}

@font-face {
  font-family: "Be Vietnam Pro";

  src: url("/public/fonts/Be_Vietnam_Pro/BeVietnamPro-Light.ttf")
    format("truetype");

  font-weight: 300;

  font-style: normal;
}

@font-face {
  font-family: "Be Vietnam Pro";

  src: url("/public/fonts/Be_Vietnam_Pro/BeVietnamPro-LightItalic.ttf")
    format("truetype");

  font-weight: 300;

  font-style: italic;
}

@font-face {
  font-family: "Be Vietnam Pro";

  src: url("/public/fonts/Be_Vietnam_Pro/BeVietnamPro-Medium.ttf")
    format("truetype");

  font-weight: 500;

  font-style: normal;
}

@font-face {
  font-family: "Be Vietnam Pro";

  src: url("/public/fonts/Be_Vietnam_Pro/BeVietnamPro-MediumItalic.ttf")
    format("truetype");

  font-weight: 500;

  font-style: italic;
}

@font-face {
  font-family: "Be Vietnam Pro";

  src: url("/public/fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.ttf")
    format("truetype");

  font-weight: 400;

  font-style: normal;
}

@font-face {
  font-family: "Be Vietnam Pro";

  src: url("/public/fonts/Be_Vietnam_Pro/BeVietnamPro-SemiBold.ttf")
    format("truetype");

  font-weight: 600;

  font-style: normal;
}

@font-face {
  font-family: "Be Vietnam Pro";

  src: url("/public/fonts/Be_Vietnam_Pro/BeVietnamPro-SemiBoldItalic.ttf")
    format("truetype");

  font-weight: 600;

  font-style: italic;
}

@font-face {
  font-family: "Be Vietnam Pro";

  src: url("/public/fonts/Be_Vietnam_Pro/BeVietnamPro-Thin.ttf")
    format("truetype");

  font-weight: 100;

  font-style: normal;
}

@font-face {
  font-family: "Be Vietnam Pro";

  src: url("/public/fonts/Be_Vietnam_Pro/BeVietnamPro-ThinItalic.ttf")
    format("truetype");

  font-weight: 100;

  font-style: italic;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.custom-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 390px) {
  .custom-container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (min-width: 640px) {
  .custom-container {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (min-width: 768px) {
  .custom-container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 1024px) {
  .custom-container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 1440px) {
  .custom-container {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (min-width: 1920px) {
  .custom-container {
    padding-left: 0;
    padding-right: 0;
    max-width: 1597px;
  }
}

.video-height {
  height: 247px;
  @media (min-width: 640px) {
    height: 288px;
  }
  @media (min-width: 768px) {
    height: 346px;
  }
  @media (min-width: 1024px) {
    height: 461px;
  }
  @media (min-width: 1440px) {
    height: 649px;
  }
  @media (min-width: 1920px) {
    height: 790px;
  }
}

.img-height {
  height: 172px;
  @media (min-width: 768px) {
    height: 202px;
  }
  @media (min-width: 1440px) {
    height: 267px;
  }
  @media (min-width: 1920px) {
    height: 380px;
  }
}

.course-img-heigh {
  height: 100px;
  @media (min-width: 640px) {
    height: 140.66px;
  }
  @media (min-width: 768px) {
    height: 168.8px;
  }
  @media (min-width: 1024px) {
    height: 225.066px;
  }
  @media (min-width: 1280px) {
    height: 281.33px;
  }
  @media (min-width: 1440px) {
    height: 326px;
  }
  @media (min-width: 1920px) {
    height: 422px;
  }
}

.static {
  position: static;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.-bottom-14 {
  bottom: -3.5rem;
}

.-left-4 {
  left: -1rem;
}

.-right-48 {
  right: -12rem;
}

.-top-6 {
  top: -1.5rem;
}

.bottom-1 {
  bottom: 0.25rem;
}

.left-0 {
  left: 0px;
}

.right-0 {
  right: 0px;
}

.right-10 {
  right: 2.5rem;
}

.top-0 {
  top: 0px;
}

.top-10 {
  top: 2.5rem;
}

.top-28 {
  top: 7rem;
}

.top-\[115\%\] {
  top: 115%;
}

.z-20 {
  z-index: 20;
}

.z-50 {
  z-index: 50;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.m-2 {
  margin: 0.5rem;
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.my-\[10px\] {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-\[14px\] {
  margin-top: 14px;
  margin-bottom: 14px;
}

.my-\[30px\] {
  margin-top: 30px;
  margin-bottom: 30px;
}

.my-\[50px\] {
  margin-top: 50px;
  margin-bottom: 50px;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-2\.5 {
  margin-bottom: 0.625rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-3\.5 {
  margin-bottom: 0.875rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.mb-\[10px\] {
  margin-bottom: 10px;
}

.mb-\[14px\] {
  margin-bottom: 14px;
}

.mb-\[2px\] {
  margin-bottom: 2px;
}

.mb-\[30px\] {
  margin-bottom: 30px;
}

.mb-\[40px\] {
  margin-bottom: 40px;
}

.mb-\[50px\] {
  margin-bottom: 50px;
}

.mb-\[6px\] {
  margin-bottom: 6px;
}

.ml-4 {
  margin-left: 1rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.ml-auto {
  margin-left: auto;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-3\.5 {
  margin-right: 0.875rem;
}

.mr-\[10px\] {
  margin-right: 10px;
}

.mr-\[8px\] {
  margin-right: 8px;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mt-\[100px\] {
  margin-top: 100px;
}

.mt-\[130px\] {
  margin-top: 130px;
}

.mt-\[14px\] {
  margin-top: 14px;
}

.mt-\[16px\] {
  margin-top: 16px;
}

.mt-\[50px\] {
  margin-top: 50px;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.aspect-square {
  aspect-ratio: 1 / 1;
}

.size-1\/2 {
  width: 50%;
  height: 50%;
}

.size-6 {
  width: 1.5rem;
  height: 1.5rem;
}

.h-\[1px\] {
  height: 1px;
}

.h-\[49px\] {
  height: 49px;
}

.h-\[54px\] {
  height: 54px;
}

.h-full {
  height: 100%;
}

.h-px {
  height: 1px;
}

.h-screen {
  height: 100vh;
}

.max-h-0 {
  max-height: 0px;
}

.max-h-screen {
  max-height: 100vh;
}

.min-h-\[80vh\] {
  min-height: 80vh;
}

.min-h-screen {
  min-height: 100vh;
}

.w-10 {
  width: 2.5rem;
}

.w-11 {
  width: 2.75rem;
}

.w-2\/5 {
  width: 40%;
}

.w-6 {
  width: 1.5rem;
}

.w-\[31\.2\%\] {
  width: 31.2%;
}

.w-\[50px\] {
  width: 50px;
}

.w-\[54px\] {
  width: 54px;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-full {
  width: 100%;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.grow {
  flex-grow: 1;
}

.translate-x-0 {
  --tw-translate-x: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-\[-200\%\] {
  --tw-translate-x: -200%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-full {
  --tw-translate-x: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8,0,1,1);
  }

  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

.animate-bounce {
  animation: bounce 1s infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-80%);
  }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
}

.cursor-pointer {
  cursor: pointer;
}

.resize {
  resize: both;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-10 {
  gap: 2.5rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-2\.5 {
  gap: 0.625rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-\[10px\] {
  gap: 10px;
}

.gap-\[30px\] {
  gap: 30px;
}

.gap-x-2 {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}

.gap-x-2\.5 {
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
}

.gap-x-3 {
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
}

.gap-x-5 {
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}

.gap-x-6 {
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}

.gap-x-\[50px\] {
  -moz-column-gap: 50px;
       column-gap: 50px;
}

.gap-y-4 {
  row-gap: 1rem;
}

.gap-y-5 {
  row-gap: 1.25rem;
}

.gap-y-6 {
  row-gap: 1.5rem;
}

.gap-y-\[26px\] {
  row-gap: 26px;
}

.overflow-hidden {
  overflow: hidden;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-\[100px\] {
  border-radius: 100px;
}

.rounded-\[10px\] {
  border-radius: 10px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.rounded-t-\[10px\] {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.border {
  border-width: 1px;
}

.border-1 {
  border-width: 1px;
}

.border-\[4px\] {
  border-width: 4px;
}

.border-x-1 {
  border-left-width: 1px;
  border-right-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-b-1 {
  border-bottom-width: 1px;
}

.border-t {
  border-top-width: 1px;
}

.border-t-1 {
  border-top-width: 1px;
}

.border-solid {
  border-style: solid;
}

.border-\[\#FFFFFF4D\] {
  border-color: #FFFFFF4D;
}

.border-orange\/80 {
  --tw-border-opacity: 1;
  border-color: rgb(255 213 153 / var(--tw-border-opacity, 1));
}

.border-orange\/90 {
  --tw-border-opacity: 1;
  border-color: rgb(255 234 204 / var(--tw-border-opacity, 1));
}

.border-white\/95 {
  --tw-border-opacity: 1;
  border-color: rgb(241 241 243 / var(--tw-border-opacity, 1));
}

.bg-\[\#FFFFFF33\] {
  background-color: #FFFFFF33;
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
}

.bg-grey\/90 {
  --tw-bg-opacity: 1;
  background-color: rgb(247 247 248 / var(--tw-bg-opacity, 1));
}

.bg-orange\/50 {
  --tw-bg-opacity: 1;
  background-color: rgb(255 149 0 / var(--tw-bg-opacity, 1));
}

.bg-orange\/90 {
  --tw-bg-opacity: 1;
  background-color: rgb(255 234 204 / var(--tw-bg-opacity, 1));
}

.bg-orange\/95 {
  --tw-bg-opacity: 1;
  background-color: rgb(255 244 229 / var(--tw-bg-opacity, 1));
}

.bg-orange\/97 {
  --tw-bg-opacity: 1;
  background-color: rgb(255 249 240 / var(--tw-bg-opacity, 1));
}

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-white\/90 {
  --tw-bg-opacity: 1;
  background-color: rgb(228 228 231 / var(--tw-bg-opacity, 1));
}

.bg-white\/95 {
  --tw-bg-opacity: 1;
  background-color: rgb(241 241 243 / var(--tw-bg-opacity, 1));
}

.bg-white\/97 {
  --tw-bg-opacity: 1;
  background-color: rgb(247 247 248 / var(--tw-bg-opacity, 1));
}

.bg-white\/99 {
  --tw-bg-opacity: 1;
  background-color: rgb(252 252 253 / var(--tw-bg-opacity, 1));
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-5 {
  padding: 1.25rem;
}

.p-6 {
  padding: 1.5rem;
}

.p-\[10px\] {
  padding: 10px;
}

.p-\[14px\] {
  padding: 14px;
}

.p-\[24px\] {
  padding: 24px;
}

.p-\[30px\] {
  padding: 30px;
}

.p-\[6px\] {
  padding: 6px;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-3\.5 {
  padding-left: 0.875rem;
  padding-right: 0.875rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-\[10px\] {
  padding-left: 10px;
  padding-right: 10px;
}

.px-\[12px\] {
  padding-left: 12px;
  padding-right: 12px;
}

.px-\[1px\] {
  padding-left: 1px;
  padding-right: 1px;
}

.px-\[22px\] {
  padding-left: 22px;
  padding-right: 22px;
}

.px-\[30px\] {
  padding-left: 30px;
  padding-right: 30px;
}

.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-2\.5 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-3\.5 {
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.py-\[14px\] {
  padding-top: 14px;
  padding-bottom: 14px;
}

.py-\[18px\] {
  padding-top: 18px;
  padding-bottom: 18px;
}

.py-\[50px\] {
  padding-top: 50px;
  padding-bottom: 50px;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pb-7 {
  padding-bottom: 1.75rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.pt-10 {
  padding-top: 2.5rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pt-\[30px\] {
  padding-top: 30px;
}

.pt-\[50px\] {
  padding-top: 50px;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.font-vietnam {
  font-family: "Be Vietnam Pro", sans-serif;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-6xl {
  font-size: 3.75rem;
  line-height: 1;
}

.text-\[15px\] {
  font-size: 15px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[26px\] {
  font-size: 26px;
}

.text-\[28px\] {
  font-size: 28px;
}

.text-\[30px\] {
  font-size: 30px;
}

.text-\[50px\] {
  font-size: 50px;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-black {
  font-weight: 900;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.leading-7 {
  line-height: 1.75rem;
}

.leading-9 {
  line-height: 2.25rem;
}

.leading-\[10px\] {
  line-height: 10px;
}

.leading-\[22\.5px\] {
  line-height: 22.5px;
}

.leading-\[33\.6px\] {
  line-height: 33.6px;
}

.leading-\[36\.5px\] {
  line-height: 36.5px;
}

.leading-\[42px\] {
  line-height: 42px;
}

.text-grey\/10 {
  --tw-text-opacity: 1;
  color: rgb(26 26 26 / var(--tw-text-opacity, 1));
}

.text-grey\/15 {
  --tw-text-opacity: 1;
  color: rgb(38 38 38 / var(--tw-text-opacity, 1));
}

.text-grey\/20 {
  --tw-text-opacity: 1;
  color: rgb(51 51 51 / var(--tw-text-opacity, 1));
}

.text-grey\/30 {
  --tw-text-opacity: 1;
  color: rgb(76 76 77 / var(--tw-text-opacity, 1));
}

.text-grey\/35 {
  --tw-text-opacity: 1;
  color: rgb(89 89 90 / var(--tw-text-opacity, 1));
}

.text-grey\/40 {
  --tw-text-opacity: 1;
  color: rgb(101 101 103 / var(--tw-text-opacity, 1));
}

.text-grey\/60 {
  --tw-text-opacity: 1;
  color: rgb(152 152 154 / var(--tw-text-opacity, 1));
}

.text-orange\/50 {
  --tw-text-opacity: 1;
  color: rgb(255 149 0 / var(--tw-text-opacity, 1));
}

.text-orange\/70 {
  --tw-text-opacity: 1;
  color: rgb(255 191 102 / var(--tw-text-opacity, 1));
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.underline {
  text-decoration-line: underline;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

.shadow-custom {
  --tw-shadow: 0px 0px 0px 4px #FFF4E5;
  --tw-shadow-colored: 0px 0px 0px 4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline-0 {
  outline-width: 0px;
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-200 {
  transition-duration: 200ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.duration-700 {
  transition-duration: 700ms;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hover\:cursor-pointer:hover {
  cursor: pointer;
}

.hover\:bg-orange\/70:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(255 191 102 / var(--tw-bg-opacity, 1));
}

.hover\:bg-white\/95:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(241 241 243 / var(--tw-bg-opacity, 1));
}

@media (min-width: 640px) {
  .sm\:-left-7 {
    left: -1.75rem;
  }

  .sm\:-top-8 {
    top: -2rem;
  }

  .sm\:my-0 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .sm\:mb-9 {
    margin-bottom: 2.25rem;
  }

  .sm\:mb-\[100px\] {
    margin-bottom: 100px;
  }

  .sm\:w-3\/5 {
    width: 60%;
  }

  .sm\:w-auto {
    width: auto;
  }

  .sm\:flex-nowrap {
    flex-wrap: nowrap;
  }

  .sm\:justify-evenly {
    justify-content: space-evenly;
  }

  .sm\:py-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .sm\:py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .sm\:py-\[30px\] {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .sm\:pb-14 {
    padding-bottom: 3.5rem;
  }

  .sm\:pt-\[100px\] {
    padding-top: 100px;
  }

  .sm\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .sm\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .sm\:leading-10 {
    line-height: 2.5rem;
  }
}

@media (min-width: 768px) {
  .md\:my-0 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .md\:ml-auto {
    margin-left: auto;
  }

  .md\:mt-0 {
    margin-top: 0px;
  }

  .md\:block {
    display: block;
  }

  .md\:flex {
    display: flex;
  }

  .md\:w-1\/3 {
    width: 33.333333%;
  }

  .md\:w-fit {
    width: -moz-fit-content;
    width: fit-content;
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:flex-nowrap {
    flex-wrap: nowrap;
  }

  .md\:items-center {
    align-items: center;
  }

  .md\:gap-y-0 {
    row-gap: 0px;
  }

  .md\:p-\[40px\] {
    padding: 40px;
  }
}

@media (min-width: 1024px) {
  .lg\:relative {
    position: relative;
  }

  .lg\:-top-10 {
    top: -2.5rem;
  }

  .lg\:bottom-0 {
    bottom: 0px;
  }

  .lg\:right-28 {
    right: 7rem;
  }

  .lg\:order-1 {
    order: 1;
  }

  .lg\:order-2 {
    order: 2;
  }

  .lg\:mx-5 {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }

  .lg\:my-\[80px\] {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .lg\:-mt-\[180px\] {
    margin-top: -180px;
  }

  .lg\:mb-0 {
    margin-bottom: 0px;
  }

  .lg\:mb-10 {
    margin-bottom: 2.5rem;
  }

  .lg\:mb-14 {
    margin-bottom: 3.5rem;
  }

  .lg\:mb-20 {
    margin-bottom: 5rem;
  }

  .lg\:mt-0 {
    margin-top: 0px;
  }

  .lg\:mt-20 {
    margin-top: 5rem;
  }

  .lg\:mt-\[-90px\] {
    margin-top: -90px;
  }

  .lg\:mt-\[100px\] {
    margin-top: 100px;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:size-full {
    width: 100%;
    height: 100%;
  }

  .lg\:h-fit {
    height: -moz-fit-content;
    height: fit-content;
  }

  .lg\:w-11 {
    width: 2.75rem;
  }

  .lg\:w-3\/4 {
    width: 75%;
  }

  .lg\:w-\[30\%\] {
    width: 30%;
  }

  .lg\:w-\[45\%\] {
    width: 45%;
  }

  .lg\:w-\[55\%\] {
    width: 55%;
  }

  .lg\:w-\[70\%\] {
    width: 70%;
  }

  .lg\:w-full {
    width: 100%;
  }

  .lg\:translate-x-0 {
    --tw-translate-x: 0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .lg\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:grid-cols-\[73\.7\%_26\.2\%\] {
    grid-template-columns: 73.7% 26.2%;
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:items-center {
    align-items: center;
  }

  .lg\:justify-start {
    justify-content: flex-start;
  }

  .lg\:justify-end {
    justify-content: flex-end;
  }

  .lg\:justify-between {
    justify-content: space-between;
  }

  .lg\:gap-10 {
    gap: 2.5rem;
  }

  .lg\:gap-2 {
    gap: 0.5rem;
  }

  .lg\:gap-20 {
    gap: 5rem;
  }

  .lg\:gap-6 {
    gap: 1.5rem;
  }

  .lg\:gap-\[30px\] {
    gap: 30px;
  }

  .lg\:gap-x-6 {
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
  }

  .lg\:rounded-\[10px\] {
    border-radius: 10px;
  }

  .lg\:rounded-md {
    border-radius: 0.375rem;
  }

  .lg\:rounded-t-\[14px\] {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
  }

  .lg\:border-b-0 {
    border-bottom-width: 0px;
  }

  .lg\:border-e {
    border-inline-end-width: 1px;
  }

  .lg\:border-r {
    border-right-width: 1px;
  }

  .lg\:p-10 {
    padding: 2.5rem;
  }

  .lg\:p-20 {
    padding: 5rem;
  }

  .lg\:p-\[30px\] {
    padding: 30px;
  }

  .lg\:p-\[60px\] {
    padding: 60px;
  }

  .lg\:px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .lg\:px-20 {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .lg\:px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .lg\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .lg\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .lg\:py-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .lg\:py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .lg\:py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .lg\:py-3\.5 {
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
  }

  .lg\:py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .lg\:py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .lg\:py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .lg\:py-7 {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
  }

  .lg\:py-\[10px\] {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .lg\:py-\[30px\] {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .lg\:py-\[80px\] {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .lg\:pb-0 {
    padding-bottom: 0px;
  }

  .lg\:pl-10 {
    padding-left: 2.5rem;
  }

  .lg\:pl-20 {
    padding-left: 5rem;
  }

  .lg\:pr-10 {
    padding-right: 2.5rem;
  }

  .lg\:pr-8 {
    padding-right: 2rem;
  }

  .lg\:pt-0 {
    padding-top: 0px;
  }

  .lg\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .lg\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .lg\:text-6xl {
    font-size: 3.75rem;
    line-height: 1;
  }

  .lg\:text-\[28px\] {
    font-size: 28px;
  }

  .lg\:text-\[38px\] {
    font-size: 38px;
  }

  .lg\:text-\[42px\] {
    font-size: 42px;
  }

  .lg\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .lg\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .lg\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .lg\:leading-\[11\.68px\] {
    line-height: 11.68px;
  }

  .lg\:leading-\[30px\] {
    line-height: 30px;
  }

  .lg\:leading-\[42px\] {
    line-height: 42px;
  }

  .lg\:leading-\[43\.8px\] {
    line-height: 43.8px;
  }

  .lg\:leading-\[54px\] {
    line-height: 54px;
  }

  .lg\:leading-\[57\.6px\] {
    line-height: 57.6px;
  }

  .lg\:leading-\[57px\] {
    line-height: 57px;
  }
}

@media (min-width: 1280px) {
  .xl\:mb-0 {
    margin-bottom: 0px;
  }

  .xl\:mt-\[-100px\] {
    margin-top: -100px;
  }

  .xl\:grid {
    display: grid;
  }

  .xl\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .xl\:items-center {
    align-items: center;
  }

  .xl\:gap-20 {
    gap: 5rem;
  }

  .xl\:text-\[38px\] {
    font-size: 38px;
  }

  .xl\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .xl\:leading-\[57px\] {
    line-height: 57px;
  }
}

@media (min-width: 1440px) {
  .custom-xl\:mx-6 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .custom-xl\:my-\[20px\] {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .custom-xl\:mb-10 {
    margin-bottom: 2.5rem;
  }

  .custom-xl\:mb-4 {
    margin-bottom: 1rem;
  }

  .custom-xl\:mb-\[100px\] {
    margin-bottom: 100px;
  }

  .custom-xl\:mb-\[60px\] {
    margin-bottom: 60px;
  }

  .custom-xl\:mt-\[100px\] {
    margin-top: 100px;
  }

  .custom-xl\:gap-5 {
    gap: 1.25rem;
  }

  .custom-xl\:rounded-\[10px\] {
    border-radius: 10px;
  }

  .custom-xl\:p-10 {
    padding: 2.5rem;
  }

  .custom-xl\:px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .custom-xl\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .custom-xl\:py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .custom-xl\:pb-6 {
    padding-bottom: 1.5rem;
  }

  .custom-xl\:pr-\[30px\] {
    padding-right: 30px;
  }

  .custom-xl\:pt-10 {
    padding-top: 2.5rem;
  }

  .custom-xl\:text-6xl {
    font-size: 3.75rem;
    line-height: 1;
  }

  .custom-xl\:text-\[38px\] {
    font-size: 38px;
  }

  .custom-xl\:text-\[40px\] {
    font-size: 40px;
  }

  .custom-xl\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .custom-xl\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .custom-xl\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .custom-xl\:leading-\[57px\] {
    line-height: 57px;
  }
}

@media (min-width: 1920px) {
  .custom-2xl\:-top-9 {
    top: -2.25rem;
  }

  .custom-2xl\:mx-\[30px\] {
    margin-left: 30px;
    margin-right: 30px;
  }

  .custom-2xl\:my-3 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }

  .custom-2xl\:my-6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .custom-2xl\:-mt-\[200px\] {
    margin-top: -200px;
  }

  .custom-2xl\:mb-20 {
    margin-bottom: 5rem;
  }

  .custom-2xl\:mb-3 {
    margin-bottom: 0.75rem;
  }

  .custom-2xl\:mb-4 {
    margin-bottom: 1rem;
  }

  .custom-2xl\:mb-5 {
    margin-bottom: 1.25rem;
  }

  .custom-2xl\:mb-8 {
    margin-bottom: 2rem;
  }

  .custom-2xl\:mb-\[100px\] {
    margin-bottom: 100px;
  }

  .custom-2xl\:mb-\[10px\] {
    margin-bottom: 10px;
  }

  .custom-2xl\:mb-\[14px\] {
    margin-bottom: 14px;
  }

  .custom-2xl\:mb-\[150px\] {
    margin-bottom: 150px;
  }

  .custom-2xl\:mb-\[20px\] {
    margin-bottom: 20px;
  }

  .custom-2xl\:mb-\[30px\] {
    margin-bottom: 30px;
  }

  .custom-2xl\:mb-\[50px\] {
    margin-bottom: 50px;
  }

  .custom-2xl\:mb-\[6px\] {
    margin-bottom: 6px;
  }

  .custom-2xl\:mb-\[80px\] {
    margin-bottom: 80px;
  }

  .custom-2xl\:mr-4 {
    margin-right: 1rem;
  }

  .custom-2xl\:mr-\[10px\] {
    margin-right: 10px;
  }

  .custom-2xl\:mt-8 {
    margin-top: 2rem;
  }

  .custom-2xl\:mt-\[-150px\] {
    margin-top: -150px;
  }

  .custom-2xl\:mt-\[100px\] {
    margin-top: 100px;
  }

  .custom-2xl\:mt-\[109px\] {
    margin-top: 109px;
  }

  .custom-2xl\:mt-\[150px\] {
    margin-top: 150px;
  }

  .custom-2xl\:size-\[34px\] {
    width: 34px;
    height: 34px;
  }

  .custom-2xl\:h-\[63px\] {
    height: 63px;
  }

  .custom-2xl\:h-\[72px\] {
    height: 72px;
  }

  .custom-2xl\:h-\[74px\] {
    height: 74px;
  }

  .custom-2xl\:w-\[52px\] {
    width: 52px;
  }

  .custom-2xl\:w-\[54px\] {
    width: 54px;
  }

  .custom-2xl\:w-\[60px\] {
    width: 60px;
  }

  .custom-2xl\:w-\[72px\] {
    width: 72px;
  }

  .custom-2xl\:w-\[74px\] {
    width: 74px;
  }

  .custom-2xl\:flex-row {
    flex-direction: row;
  }

  .custom-2xl\:justify-between {
    justify-content: space-between;
  }

  .custom-2xl\:gap-2 {
    gap: 0.5rem;
  }

  .custom-2xl\:gap-\[120px\] {
    gap: 120px;
  }

  .custom-2xl\:gap-\[30px\] {
    gap: 30px;
  }

  .custom-2xl\:gap-\[50px\] {
    gap: 50px;
  }

  .custom-2xl\:gap-\[95px\] {
    gap: 95px;
  }

  .custom-2xl\:gap-x-3\.5 {
    -moz-column-gap: 0.875rem;
         column-gap: 0.875rem;
  }

  .custom-2xl\:gap-x-4 {
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }

  .custom-2xl\:gap-y-6 {
    row-gap: 1.5rem;
  }

  .custom-2xl\:rounded-\[11px\] {
    border-radius: 11px;
  }

  .custom-2xl\:rounded-lg {
    border-radius: 0.5rem;
  }

  .custom-2xl\:rounded-md {
    border-radius: 0.375rem;
  }

  .custom-2xl\:rounded-xl {
    border-radius: 0.75rem;
  }

  .custom-2xl\:border-\[6px\] {
    border-width: 6px;
  }

  .custom-2xl\:p-10 {
    padding: 2.5rem;
  }

  .custom-2xl\:p-4 {
    padding: 1rem;
  }

  .custom-2xl\:p-\[100px\] {
    padding: 100px;
  }

  .custom-2xl\:p-\[14px\] {
    padding: 14px;
  }

  .custom-2xl\:p-\[50px\] {
    padding: 50px;
  }

  .custom-2xl\:px-3\.5 {
    padding-left: 0.875rem;
    padding-right: 0.875rem;
  }

  .custom-2xl\:px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .custom-2xl\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .custom-2xl\:px-\[14px\] {
    padding-left: 14px;
    padding-right: 14px;
  }

  .custom-2xl\:px-\[30px\] {
    padding-left: 30px;
    padding-right: 30px;
  }

  .custom-2xl\:px-\[32px\] {
    padding-left: 32px;
    padding-right: 32px;
  }

  .custom-2xl\:px-\[34px\] {
    padding-left: 34px;
    padding-right: 34px;
  }

  .custom-2xl\:px-\[50px\] {
    padding-left: 50px;
    padding-right: 50px;
  }

  .custom-2xl\:py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .custom-2xl\:py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .custom-2xl\:py-3\.5 {
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
  }

  .custom-2xl\:py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .custom-2xl\:py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .custom-2xl\:py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .custom-2xl\:py-\[100px\] {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .custom-2xl\:py-\[10px\] {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .custom-2xl\:py-\[14px\] {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .custom-2xl\:py-\[18px\] {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .custom-2xl\:py-\[20px\] {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .custom-2xl\:py-\[30px\] {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .custom-2xl\:pb-\[30px\] {
    padding-bottom: 30px;
  }

  .custom-2xl\:pl-3 {
    padding-left: 0.75rem;
  }

  .custom-2xl\:pl-\[100px\] {
    padding-left: 100px;
  }

  .custom-2xl\:pl-\[50px\] {
    padding-left: 50px;
  }

  .custom-2xl\:pr-\[30px\] {
    padding-right: 30px;
  }

  .custom-2xl\:pr-\[50px\] {
    padding-right: 50px;
  }

  .custom-2xl\:pt-\[50px\] {
    padding-top: 50px;
  }

  .custom-2xl\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .custom-2xl\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .custom-2xl\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }

  .custom-2xl\:text-\[22px\] {
    font-size: 22px;
  }

  .custom-2xl\:text-\[34px\] {
    font-size: 34px;
  }

  .custom-2xl\:text-\[38px\] {
    font-size: 38px;
  }

  .custom-2xl\:text-\[48px\] {
    font-size: 48px;
  }

  .custom-2xl\:text-\[50px\] {
    font-size: 50px;
  }

  .custom-2xl\:text-\[80px\] {
    font-size: 80px;
  }

  .custom-2xl\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .custom-2xl\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .custom-2xl\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .custom-2xl\:leading-9 {
    line-height: 2.25rem;
  }

  .custom-2xl\:leading-\[14px\] {
    line-height: 14px;
  }

  .custom-2xl\:leading-\[27px\] {
    line-height: 27px;
  }

  .custom-2xl\:leading-\[30px\] {
    line-height: 30px;
  }

  .custom-2xl\:leading-\[37px\] {
    line-height: 37px;
  }

  .custom-2xl\:leading-\[57\.6px\] {
    line-height: 57.6px;
  }

  .custom-2xl\:leading-\[57px\] {
    line-height: 57px;
  }

  .custom-2xl\:leading-\[58\.4px\] {
    line-height: 58.4px;
  }

  .custom-2xl\:leading-\[72px\] {
    line-height: 72px;
  }
}
